<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="GSPConnect" connectionString="server=52.163.112.188;user=glmadmin; password=P@ssw0rd@123;database=Glamio_GSP_000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ConnectionString" value="Data Source=103.230.84.67;Initial Catalog=GSP_DB;User ID=sa;Password=wep@123;" />
    
    <add key="GST_Certificate" value="NA" />

    <add key="GST_Authenticate" value="NA" />
    <add key="GST_GSTR1" value="NA" />
    <add key="GST_GSTR1A" value="NA" />
    <add key="GST_GSTR2" value="NA" />
    <add key="GST_GSTR3" value="NA" />
    <add key="GST_LEDGER" value="NA" />
    <add key="GST_ALL" value="NA" />

    <!-- Table Storage  -->
    <!--<add key="TableStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=testgstnstorageaccount;AccountKey=llAcMYBD13fO2bewz8/mN8eKRdRJemsZF11+Utmudp9dZRlFUNHqH/AvAcW6177hMmGvC+sQsV9SMD8gZfXjOg==;EndpointSuffix=core.windows.net" />-->
    <add key="TableStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=gstwepstorage;AccountKey=FWDHvtFZRnJ9OP6c8GQBIa+M2QPz7UQl50ILMwAWf/xAjJicfVil2HQl4cDBAtyQTxAeQuRHxQ8N88Lai+RRkQ==;EndpointSuffix=core.windows.net" />

    <!--  Event Hub Connection -->
    <add key="MasterHubConnectionWrite" value="NA" />
    <!--<add key="GstnReqHubConnectionWrite" value="Endpoint=sb://test-eh-namespace.servicebus.windows.net/;SharedAccessKeyName=Write;SharedAccessKey=my+nz279gDekVcrAEAQ9j6i51vrBRAXil5u49JZ7AvM=;EntityPath=GSTN-REQ-Event-HUB" />-->
     <add key="GstnReqHubConnectionWrite" value="Endpoint=sb://gst-event-hub-namespace.servicebus.windows.net/;SharedAccessKeyName=Write;SharedAccessKey=qGzr01QMeRvw6eSOT/75Ejrim1NuKnvPPUCPXn75eZ8=;EntityPath=gstn-req-event-hub" />
    
    <add key="GstnReqHubConnectionRead" value="Endpoint=NA" />

    <!--<add key="GstnRespHubConnectionWrite" value="Endpoint=sb://test-eh-namespace.servicebus.windows.net/;SharedAccessKeyName=Write;SharedAccessKey=CvJOx1aAKoV/plg6Z89zSrUPMsUojeG4Zk6z8qkLHqo=;EntityPath=GSTN-RESP-EVENT-HUB" />-->
    <add key="GstnRespHubConnectionWrite" value="Endpoint=sb://gst-event-hub-namespace.servicebus.windows.net/;SharedAccessKeyName=Write;SharedAccessKey=CNepMgbN6Aq9g3bG/29diw63Eda6r/QUbpG1j25y/os=;EntityPath=gstn-resp-event-hub" />
    
    <add key="BlobStorageConnection" value="NA" />
    <add key="BlobContainer" value="NA" />

    <add key="MasterEventHub" value="NA" />
    <!--<add key="GstnReqEventHub" value="GSTN-REQ-Event-HUB" />-->
    <add key="GstnReqEventHub" value="gstn-resp-event-hub" />
    <add key="GstnRespEventHub" value="NA" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>