<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <!--Sandbox-->
  <add name="GSPConnect" connectionString="server=tcp:wepgspdatabase.database.windows.net,1433;Initial Catalog=wepgsp_preproduction; User ID=wepgspdb; Password=Wepgsp@123;" providerName="System.Data.SqlClient" />
  <!--Production-->
    <!--<add name="GSPConnect" connectionString="server=tcp:wepgspdatabase.database.windows.net,1433;Initial Catalog=wepgsp_production; User ID=wepgspdb; Password=Wepgsp@123;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="GST_Authenticate" value="NA" />
    <add key="GST_GSTR1" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr1" />
    <add key="GST_GSTR1A" value="NA" />
    <add key="GST_GSTR3" value="NA" />
    <add key="GST_LEDGER" value="NA" />
    <add key="GST_ALL" value="NA" />-->
    <add key="RetryHttpError" value="408|429|500|502|503|504" />

    <!--statuscode == 408      //Request timeout
    || statuscode == 429     //too many request
    || statuscode == 500     //Internal Server Error
    || statuscode == 502     //Bad Gateway
    || statuscode == 503     //Service Unavailable
    || statuscode == 504     //Gateway Timeout-->

    <!--===================================================SandBox Start=====================================================================-->
    <add key="GST_Authenticate" value="NA" />
    <add key="GST_GSTR1" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns/gstr1" />
    <add key="GST_GSTR2" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns/gstr2" />
    <add key="GST_GSTR2A" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns/gstr2a" />
    <add key="GST_GSTR3B" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns/gstr3b" />
    <add key="ApiCommon" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns" />    
    <add key="GST_GSTR1_TrackStatus" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns" />
    <add key="UserAuthenticate" value="https://devapi.gstsystem.co.in/taxpayerapi/v0.2/authenticate"/>
    <add key="GST_GSTR2_TrackStatus" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns" />    
    <add key="CommonAuthentication" value="http://devapi.gstsystem.co.in/commonapi/v0.2/authenticate"/>
    <add key="TaxPayerSearch" value="http://devapi.gstsystem.co.in/commonapi/v0.2/search"/>
    <add key="GST_GSTR1_B2B" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/B2B" />
    <add key="GST_GSTR1_B2CL" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/B2CL" />
    <add key="GST_GSTR1_Common" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/Common" />
    <add key="ApiGSTR2A" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR2A/B2B" />
    <add key="ApiGSTR2A_B2B" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR2A/B2B" />
    <add key="GST_GSTR1A" value="NA" />
    <add key="GST_GSTR3" value="NA" />
    <add key="GST_LEDGER" value="NA" />
    <add key="GST_ALL" value="NA" />

    <add key="TarFilePath" value="C:\inetpub\wwwroot\GSPRestAPI\TarFile\" />
    <!--<add key="TarFilePath" value="D:\Shajeer-TFS\WEP.GSP.Service\WEP.GSP.Service\WEP.GSP.ServiceBus.RestAPI\TarFile\" />-->
    <add key="TarFileFolder" value="tarfile" />
    <add key="LargeFileGstnDomain" value="http://sbfiles.gstsystem.co.in" />

    <!--Service Bus Test-->
    <add key="GstnReqServiceBusName" value="gstn-req-service-bus" />
    <add key="GstnReqServiceBusQueueName" value="gstn-req-service-bus-queue" />
    <!--Service Bus Send-->
    <add key="GstnReqServiceBusSendPolicyName" value="send-gstn-req-service-bus" />
    <add key="GstnReqServiceBusSendPolicyKey" value="eTmGgLdfXXDdvAaxB0V4KCt/DZS+d4Lg8ZH7Av3pGYQ=" />
    <add key="GstnReqServiceBusSendPolicyConnectionString" value="Endpoint=sb://gstn-req-service-bus.servicebus.windows.net/;SharedAccessKeyName=send-gstn-req-service-bus;SharedAccessKey=eTmGgLdfXXDdvAaxB0V4KCt/DZS+d4Lg8ZH7Av3pGYQ=" />
    <!--Service Bus Reciever-->
    <add key="GstnReqServiceBusListenPolicyName" value="listen-gstn-req-service-bus" />
    <add key="GstnReqServiceBusListenPolicyName" value="gstn-req-service-bus-queue" />
    <add key="GstnReqServiceBusListenPolicyKey" value="X5Yo27YEZ3oB6rcNUVuVas5hLo8Ofh6PcQhzLm7+d1Q=" />
    <add key="GstnReqServiceBusListenPolicyConnectionString" value="Endpoint=sb://gstn-req-service-bus.servicebus.windows.net/;SharedAccessKeyName=listen-gstn-req-service-bus;SharedAccessKey=X5Yo27YEZ3oB6rcNUVuVas5hLo8Ofh6PcQhzLm7+d1Q=" />
    
    <!--SandBox End-->

    <!--===================================================Producation Start=====================================================================-->

    <!--<add key="GST_Authenticate" value="NA" />
    <add key="GST_GSTR1" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns/gstr1" />
    <add key="GST_GSTR2" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns/gstr2" />
    <add key="GST_GSTR2A" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns/gstr2a" />
    <add key="GST_GSTR3B" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns/gstr3b" />
    <add key="ApiCommon" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns" />
    <add key="GST_GSTR1_TrackStatus" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns" />
    <add key="UserAuthenticate" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v1.0/authenticate" />
    <add key="GST_GSTR2_TrackStatus" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns" />
    <add key="CommonAuthentication" value="https://gspapi.internal.gst.gov.in/commonapi/v1.0/authenticate" />
    <add key="TaxPayerSearch" value="https://gspapi.internal.gst.gov.in/commonapi/v1.0/search" />
    <add key="GST_GSTR1_B2B" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/B2B" />
    <add key="GST_GSTR1_B2CL" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/B2CL" />
    <add key="GST_GSTR1_Common" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/Common" />
    <add key="ApiGSTR2A" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR2A/B2B" />
    <add key="ApiGSTR2A_B2B" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR2A/B2B" />
    <add key="GST_Authenticate" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/authenticate" />
    <add key="GST_GSTR1A" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr1a" />
    <add key="GST_GSTR3" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr3" />
    <add key="GST_LEDGER" value="https://devapi.gstsystem.co.in/taxpayerapi/v0.1/ledgers" />
    <add key="GST_ALL" value="https://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns" />-->

    <!--Service Bus Production-->
    <!--
    <add key="GstnReqServiceBusName" value="GSPRequest" />
    <add key="GstnReqServiceBusQueueName" value="GSPRequestqueue" />
    -->
    <!--Service Bus Send-->
    <!--
    <add key="GstnReqServiceBusSendPolicyName" value="GSPRequestSend" />
    <add key="GstnReqServiceBusSendPolicyKey" value="2JRD5Wjn66x1l9BGQkjDmqZJwsq+ogLh7qQvUqVT8BY=" />
    <add key="GstnReqServiceBusSendPolicyConnectionString" value="Endpoint=sb://gsprequest.servicebus.windows.net/;SharedAccessKeyName=GSPRequestSend;SharedAccessKey=2JRD5Wjn66x1l9BGQkjDmqZJwsq+ogLh7qQvUqVT8BY=" />        
    -->
    <!--Service Bus Reciever-->
    <!--    
    <add key="GstnReqServiceBusListenPolicyName" value="GSPRequestListen" />
    <add key="GstnReqServiceBusListenPolicyKey" value="xiECt9fQSUPu6GAobDPGFqetfNsaxvgODmd9lMPFGoQ=" />
    <add key="GstnReqServiceBusListenPolicyConnectionString" value="Endpoint=sb://gsprequest.servicebus.windows.net/;SharedAccessKeyName=GSPRequestListen;SharedAccessKey=xiECt9fQSUPu6GAobDPGFqetfNsaxvgODmd9lMPFGoQ=" />-->


    <!--<add key="TarFilePath" value="C:\inetpub\wwwroot\WeP GSP API Production\TarFile\" />
    <add key="TarFileFolder" value="tarfile" />
    <add key="LargeFileGstnDomain" value="https://g2bfiles.internal.gst.gov.in" />-->
    
    <!--Production Ends-->
    
    <!--==================================================Common Keys======================================================================-->
    <!--  Event Hub Connection -->
    <add key="MasterHubConnectionWrite" value="NA" />    
    <add key="GstnRespHubConnectionWrite" value="Endpoint=sb://gst-wep-namespace.servicebus.windows.net/;SharedAccessKeyName=GstnResHubWrite;SharedAccessKey=nfmgvQNnqHewhYrWbtm5KmkiZkDfemsSWKu3WBkTwC0=;EntityPath=gstn-resp-event-hub" />
    <add key="GstnReqHubConnectionWrite" value="Endpoint=sb://gst-wep-namespace.servicebus.windows.net/;SharedAccessKeyName=GstnReqHubWrite;SharedAccessKey=KNATE+Rdi4+iwCxHWTGRsyBkkSaSP388+cYBJh6av80=;EntityPath=gstn-req-event-hub" />    
    <add key="GstnReqHubConnectionRead" value="Endpoint=sb://gst-wep-namespace.servicebus.windows.net/;SharedAccessKeyName=GstnReqHubRead;SharedAccessKey=iaZOh5X8lkEfJA/9P+WZ9f+bqnMgNokgCx3fI8hMW1o=;EntityPath=gstn-req-event-hub" />
    <add key="MasterEventHub" value="NA" />
    <add key="GstnReqEventHub" value="gstn-req-event-hub" />
    <add key="GstnRespEventHub" value="gstn-resp-event-hub" />
    <!--  Blob Storage -->
    <add key="BlobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=wepstorage;AccountKey=k2lmSIVvPRLV70MjJXi12HM2yLdLXfhzvM+1PXWCaDG+f9dUZJvZhYrjjjoUAOtUsqZGT/4rpRApJmrdKNz3Qw==" />
    <add key="BlobContainer" value="payload" />

    <!-- Table Storage  -->
    <add key="TableStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=wepstorage;AccountKey=k2lmSIVvPRLV70MjJXi12HM2yLdLXfhzvM+1PXWCaDG+f9dUZJvZhYrjjjoUAOtUsqZGT/4rpRApJmrdKNz3Qw==;EndpointSuffix=core.windows.net" />
    <add key="TableStorageConnection1" value="DefaultEndpointsProtocol=https;AccountName=wepstorage2;AccountKey=A/sWAbXH5nxxrtSAShfJpOW02vN+g0aBu9+hHL0w9a2paTFq43dtKZICZgkTqBJwFO4b9konTnUI3DkTwUUNlA==;EndpointSuffix=core.windows.net" />
    <add key="MaxTrial" value="3" />
    <add key="MaxBlobDownloadTrial" value="3" />
    <add key="DelayTrialms" value="5000" />
    <!--milisecond-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ServiceBus.Eventhub.ConnectionString" value="Endpoint=sb://gst-wep-namespace.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=kCyg26pqm6dXpSd67paWv310A3PkPQZ+YwiFlKDSN94=" />
    <add key="AvailablePartition" value="1,2" />
    <add key="MachineName" value="1" />
    <add key="EventHubBlobContainer" value="gstn-req-event-hub-container" />
    
    <add key="MaxServiceBusClient" value="3" />    
    <add key="ReqStorageAccCount" value="10" />
    <add key="RespStorageAccCount" value="10" />
    
    <add key="DelayTrialmsP1" value="5000" />
    <add key="MaxTrialP1" value="10" />

    <!--Public Authentication API-->
    <add key="PublicAuthUsername" value="GSPWePSol"/>
    <add key="PublicAuthPassword" value="Wepindia@123"/>
    <add key="GstCertificate" value="Application\GSTN_G2B_Prod_Public.cer"/>
    <add key="PublicAuthAction" value="ACCESSTOKEN"/>
    <add key="PublicClientId" value="l7xx38a8985664744177af62e0f76bed5191"/>
    <add key="PublicClientSecret" value="6b00e53b383e408f85dc0940845b4e1c"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>