<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GSPConnect" connectionString="server=52.163.112.188;user=glmadmin; password=P@ssw0rd@123;database=Glamio_GSP_000;" providerName="System.Data.SqlClient" />
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=glamioresourcediag791;AccountKey=fh7AU5L+hQcNoGys0i7DeTDF6IrXDd2+hnBZCYZ1OL+SWpqzwkmAiB8jfL9pfLE3UE9SAVA7C/wpdd+TKfggaA==" />
  </connectionStrings>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=glamioresourcediag791;AccountKey=fh7AU5L+hQcNoGys0i7DeTDF6IrXDd2+hnBZCYZ1OL+SWpqzwkmAiB8jfL9pfLE3UE9SAVA7C/wpdd+TKfggaA==" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>