<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>

    <add key="GST_GSTR1" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr1" />

    <!--  Event Hub Connection -->

    <!--  Event Hub Connection -->
    <add key="MasterHubConnectionWrite" value="Endpoint=sb://test-eh-namespace.servicebus.windows.net/;SharedAccessKeyName=Write;SharedAccessKey=1GXZvS97o2BEHwUkflLgu6NdNZIMh6xpxg7SSD0ZA/o=;EntityPath=Master-Event-Hub" />
    <add key="GstnRespHubConnectionWrite" value="Endpoint=sb://test-eh-namespace.servicebus.windows.net/;SharedAccessKeyName=Write;SharedAccessKey=CvJOx1aAKoV/plg6Z89zSrUPMsUojeG4Zk6z8qkLHqo=;EntityPath=GSTN-RESP-EVENT-HUB" />
    <add key="GstnReqHubConnectionRead" value="Endpoint=sb://test-eh-namespace.servicebus.windows.net/;SharedAccessKeyName=Read;SharedAccessKey=3s7D+lAO45IBBeowYDYVHY+CeDwgDSLLE7bwe3L30v4=;EntityPath=GSTN-REQ-Event-HUB" />

    <add key="MasterEventHub" value="Master-Event-Hub" />
    <add key="GstnReqEventHub" value="GSTN-REQ-Event-HUB" />
    <add key="GstnRespEventHub" value="GSTN-RESP-EVENT-HUB" />

    <!-- Table Storage  -->
    <add key="TableStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=testgstnstorageaccount;AccountKey=llAcMYBD13fO2bewz8/mN8eKRdRJemsZF11+Utmudp9dZRlFUNHqH/AvAcW6177hMmGvC+sQsV9SMD8gZfXjOg==;EndpointSuffix=core.windows.net" />

  </appSettings>
  </configuration>