<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="GSPConnect" connectionString="server=tcp:weptestdb.database.windows.net,1433;user=weptest123; password=Weptest@123;database=WePGSPtest;" providerName="System.Data.SqlClient" />-->
    <!--<add name="GSPConnect" connectionString="server=tcp:weptestdb.database.windows.net,1433;Initial Catalog=WePGSPtest; User ID=weptest123; Password=Weptest@123;" providerName="System.Data.SqlClient" />-->
    <add name="GSPConnect" connectionString="server=52.163.112.188;user=glmadmin; password=P@ssw0rd@123;database=Glamio_GSP_001;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ConnectionString" value="Data Source=103.230.84.67;Initial Catalog=GSP_DB;User ID=sa;Password=wep@123;" />

    <add key="GST_Certificate" value="Certificates\GSTN_PublicKey.cer" />
    <add key="RetryHttpError" value="" />  <!--NA-->
    <add key="GST_Authenticate" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/authenticate" />
    <add key="GST_GSTR1" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr1" />
    <add key="GST_GSTR1A" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr1a" />
    <add key="GST_GSTR2" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr2" />
    <add key="GST_GSTR3" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr3" />
    <add key="GST_LEDGER" value="https://devapi.gstsystem.co.in/taxpayerapi/v0.1/ledgers" />
    <add key="GST_ALL" value="https://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns" />
    <add key="Payload_Size" value="41943040" />
    <add key="ServiceBus.Eventhub.ConnectionString" value="" />
   
    <!-- Table Storage  -->
    <!--<add key="TableStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=testgstnstorageaccount;AccountKey=llAcMYBD13fO2bewz8/mN8eKRdRJemsZF11+Utmudp9dZRlFUNHqH/AvAcW6177hMmGvC+sQsV9SMD8gZfXjOg==;EndpointSuffix=core.windows.net" />-->
    <add key="TableStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=wepstorage;AccountKey=k2lmSIVvPRLV70MjJXi12HM2yLdLXfhzvM+1PXWCaDG+f9dUZJvZhYrjjjoUAOtUsqZGT/4rpRApJmrdKNz3Qw==;EndpointSuffix=core.windows.net" />
    <add key="TableStorageConnection1" value="DefaultEndpointsProtocol=https;AccountName=wepstorage2;AccountKey=A/sWAbXH5nxxrtSAShfJpOW02vN+g0aBu9+hHL0w9a2paTFq43dtKZICZgkTqBJwFO4b9konTnUI3DkTwUUNlA==;EndpointSuffix=core.windows.net" />

    <!--  Event Hub Connection -->
    <!--<add key="MasterHubConnectionWrite" value="Endpoint=sb://test-eh-namespace.servicebus.windows.net/;SharedAccessKeyName=Write;SharedAccessKey=1GXZvS97o2BEHwUkflLgu6NdNZIMh6xpxg7SSD0ZA/o=;EntityPath=Master-Event-Hub" />-->
    <add key="MasterHubConnectionWrite" value="Endpoint=sb://gst-wep-namespace.servicebus.windows.net/;SharedAccessKeyName=GstnMasterHubWrite;SharedAccessKey=Kf9bcSLFZ26jeTiHuyOB33HYc56ITnwNR3sjSOe9eiQ=;EntityPath=master-event-hub" />

    <add key="GstnRespHubConnectionWrite" value="Endpoint=sb://gst-wep-namespace.servicebus.windows.net/;SharedAccessKeyName=GstnResHubWrite;SharedAccessKey=nfmgvQNnqHewhYrWbtm5KmkiZkDfemsSWKu3WBkTwC0=;EntityPath=gstn-resp-event-hub" />
    <add key="GstnReqHubConnectionRead" value="Endpoint=sb://gst-wep-namespace.servicebus.windows.net/;SharedAccessKeyName=GstnReqHubRead;SharedAccessKey=iaZOh5X8lkEfJA/9P+WZ9f+bqnMgNokgCx3fI8hMW1o=;EntityPath=gstn-req-event-hub" />
    <add key="GstnReqHubConnectionWrite" value="Endpoint=sb://gst-wep-namespace.servicebus.windows.net/;SharedAccessKeyName=GstnReqHubWrite;SharedAccessKey=KNATE+Rdi4+iwCxHWTGRsyBkkSaSP388+cYBJh6av80=;EntityPath=gstn-req-event-hub" />
    <add key="BlobStorageConnection" value="NA" />
    <add key="BlobContainer" value="NA" />

    <add key="MasterEventHub" value="master-event-hub" />
    <add key="GstnReqEventHub" value="gstn-req-event-hub" />
    <add key="GstnRespEventHub" value="NA" />
    <add key="EventHubBlobContainer" value="NA" />
    
    
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>