<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Sandbox-->
    <add name="GSPConnect" connectionString="server=tcp:wepgspdatabase.database.windows.net,1433;Initial Catalog=wepgsp_preproduction; User ID=wepgspdb; Password=Wepgsp@123;" providerName="System.Data.SqlClient" />
    <!--Production-->
    <!--<add name="GSPConnect" connectionString="server=tcp:wepgspdatabase.database.windows.net,1433;Initial Catalog=wepgsp_production; User ID=wepgspdb; Password=Wepgsp@123;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ConnectionString" value="Data Source=103.230.84.67;Initial Catalog=GSP_DB;User ID=sa;Password=wep@123;" />
    <add key="GST_Certificate" value="Certificates\GSTN_PublicKey.cer" />
    <add key="RetryHttpError" value="" />
    
    <!--===================================================SandBox Start=====================================================================-->
    <add key="GST_Authenticate" value="NA" />
    <add key="GST_GSTR1" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns/gstr1" />
    <add key="GST_GSTR2" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns/gstr2" />
    <add key="GST_GSTR2A" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns/gstr2a" />
    <add key="GST_GSTR3B" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns/gstr3b" />

    <add key="ApiCommon" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns" />
    
    <add key="GST_GSTR1_TrackStatus" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns" />
    <add key="UserAuthenticate" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.2/authenticate" />
    <add key="GST_GSTR2_TrackStatus" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.3/returns" />

    <add key="CommonAuthentication" value="http://devapi.gstsystem.co.in/commonapi/v0.2/authenticate"/>
    <add key="TaxPayerSearch" value="http://devapi.gstsystem.co.in/commonapi/v0.2/search"/>

    <add key="GST_GSTR1_B2B" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/B2B" />
    <add key="GST_GSTR1_B2CL" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/B2CL" />
    <add key="GST_GSTR1_Common" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/Common" />

    <add key="ApiGSTR2A" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR2A/B2B" />
    <add key="ApiGSTR2A_B2B" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR2A/B2B" />

    <add key="GST_Authenticate" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/authenticate" />
    <add key="GST_GSTR1A" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr1a" />
    <add key="GST_GSTR2" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr2" />
    <add key="GST_GSTR3" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr3" />
    <add key="GST_LEDGER" value="https://devapi.gstsystem.co.in/taxpayerapi/v0.1/ledgers" />
    <add key="GST_ALL" value="https://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns" />
   
    <!--Service Bus Test-->
    <add key="GstnReqServiceBusName" value="gstn-req-service-bus" />
    <add key="GstnReqServiceBusQueueName" value="gstn-req-service-bus-queue" />
    <!--Service Bus Test Send-->
    <add key="GstnReqServiceBusSendPolicyName" value="send-gstn-req-service-bus" />
    <add key="GstnReqServiceBusSendPolicyKey" value="eTmGgLdfXXDdvAaxB0V4KCt/DZS+d4Lg8ZH7Av3pGYQ=" />
    <add key="GstnReqServiceBusSendPolicyConnectionString" value="Endpoint=sb://gstn-req-service-bus.servicebus.windows.net/;SharedAccessKeyName=send-gstn-req-service-bus;SharedAccessKey=eTmGgLdfXXDdvAaxB0V4KCt/DZS+d4Lg8ZH7Av3pGYQ=" />
    <!--Service Bus Test Reciever-->
    <add key="GstnReqServiceBusListenPolicyName" value="listen-gstn-req-service-bus" />
    <add key="GstnReqServiceBusListenPolicyName" value="gstn-req-service-bus-queue" />
    <add key="GstnReqServiceBusListenPolicyKey" value="X5Yo27YEZ3oB6rcNUVuVas5hLo8Ofh6PcQhzLm7+d1Q=" />
    <add key="GstnReqServiceBusListenPolicyConnectionString" value="Endpoint=sb://gstn-req-service-bus.servicebus.windows.net/;SharedAccessKeyName=listen-gstn-req-service-bus;SharedAccessKey=X5Yo27YEZ3oB6rcNUVuVas5hLo8Ofh6PcQhzLm7+d1Q=" />
    
    <add key="TarFilePath" value="D:\Shajeer-TFS\WEP.GSP.Service\WEP.GSP.Service\WEP.GSP.ServiceBus.RestAPI\TarFile\" />
    <add key="TarFileFolder" value="tarfile" />
    <add key="LargeFileGstnDomain" value="http://sbfiles.gstsystem.co.in" />
    
    <!--SandBox End-->

    <!--===================================================Producation Start=====================================================================-->

    <!--<add key="GST_Authenticate" value="NA" />
    <add key="GST_GSTR1" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns/gstr1" />
    <add key="GST_GSTR2" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns/gstr2" />
    <add key="GST_GSTR2A" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns/gstr2a" />
    <add key="GST_GSTR3B" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns/gstr3b" />
    <add key="ApiCommon" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns" />
    <add key="GST_GSTR1_TrackStatus" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns" />
    <add key="UserAuthenticate" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v1.0/authenticate" />
    <add key="GST_GSTR2_TrackStatus" value="https://gspapi.internal.gst.gov.in/taxpayerapi/v0.3/returns" />
    <add key="CommonAuthentication" value="https://gspapi.internal.gst.gov.in/commonapi/v1.0/authenticate" />
    <add key="TaxPayerSearch" value="https://gspapi.internal.gst.gov.in/commonapi/v1.0/search" />
    <add key="GST_GSTR1_B2B" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/B2B" />
    <add key="GST_GSTR1_B2CL" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/B2CL" />
    <add key="GST_GSTR1_Common" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR1/Common" />
    <add key="ApiGSTR2A" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR2A/B2B" />
    <add key="ApiGSTR2A_B2B" value="http://52.172.32.52/GSTNDummyResponse/GSTR1Service.svc/GSTR2A/B2B" />
    <add key="GST_Authenticate" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/authenticate" />
    <add key="GST_GSTR1A" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr1a" />
    <add key="GST_GSTR3" value="http://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns/gstr3" />
    <add key="GST_LEDGER" value="https://devapi.gstsystem.co.in/taxpayerapi/v0.1/ledgers" />
    <add key="GST_ALL" value="https://devapi.gstsystem.co.in/taxpayerapi/v0.1/returns" />-->
    
    <!--Service Bus Production--><!--
    <add key="GstnReqServiceBusName" value="GSPRequest" />
    <add key="GstnReqServiceBusQueueName" value="GSPRequestqueue" />
    --><!--Service Bus Send--><!--
    <add key="GstnReqServiceBusSendPolicyName" value="GSPRequestSend" />
    <add key="GstnReqServiceBusSendPolicyKey" value="2JRD5Wjn66x1l9BGQkjDmqZJwsq+ogLh7qQvUqVT8BY=" />
    <add key="GstnReqServiceBusSendPolicyConnectionString" value="Endpoint=sb://gsprequest.servicebus.windows.net/;SharedAccessKeyName=GSPRequestSend;SharedAccessKey=2JRD5Wjn66x1l9BGQkjDmqZJwsq+ogLh7qQvUqVT8BY=" />
    --><!--Service Bus Reciever--><!--
    <add key="GstnReqServiceBusListenPolicyName" value="GSPRequestListen" />
    <add key="GstnReqServiceBusListenPolicyKey" value="xiECt9fQSUPu6GAobDPGFqetfNsaxvgODmd9lMPFGoQ=" />
    <add key="GstnReqServiceBusListenPolicyConnectionString" value="Endpoint=sb://gsprequest.servicebus.windows.net/;SharedAccessKeyName=GSPRequestListen;SharedAccessKey=xiECt9fQSUPu6GAobDPGFqetfNsaxvgODmd9lMPFGoQ=" />-->

    <!--<add key="TarFilePath" value="C:\inetpub\wwwroot\WeP GSP API Production\TarFile\" />
    <add key="TarFileFolder" value="tarfile" />
    <add key="LargeFileGstnDomain" value="https://g2bfiles.internal.gst.gov.in" />-->

    <!--===================================================Common Keys=====================================================================-->
    
    <add key="MaxTrial" value="10" />
    <add key="MaxBlobDownloadTrial" value="3" />
    <add key="DelayTrialms" value="1000" />
    <add key="ReqStorageAccCount" value="10" />
    <add key="RespStorageAccCount" value="10" />
    
    <add key="DelayTrialmsP1" value="3000" />
    <add key="MaxTrialP1" value="10" />

    <!--Public Authentication API-->
    <add key="PublicAuthUsername" value="GSPWePSol"/>
    <add key="PublicAuthPassword" value="Wepindia@123"/>
    <add key="GstCertificate" value="Application\GSTN_G2B_Prod_Public.cer"/>
    <add key="PublicAuthAction" value="ACCESSTOKEN"/>
    <add key="PublicClientId" value="l7xx38a8985664744177af62e0f76bed5191"/>
    <add key="PublicClientSecret" value="6b00e53b383e408f85dc0940845b4e1c"/>

    <add key="Payload_Size" value="41943040" />
    <add key="ServiceBus.Eventhub.ConnectionString" value="" />

    <!-- Table Storage  -->
    <add key="TableStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=wepstorage;AccountKey=k2lmSIVvPRLV70MjJXi12HM2yLdLXfhzvM+1PXWCaDG+f9dUZJvZhYrjjjoUAOtUsqZGT/4rpRApJmrdKNz3Qw==;EndpointSuffix=core.windows.net" />
    <add key="TableStorageConnection1" value="DefaultEndpointsProtocol=https;AccountName=wepstorage2;AccountKey=A/sWAbXH5nxxrtSAShfJpOW02vN+g0aBu9+hHL0w9a2paTFq43dtKZICZgkTqBJwFO4b9konTnUI3DkTwUUNlA==;EndpointSuffix=core.windows.net" />

    <!--  Event Hub Connection -->
    <add key="MasterHubConnectionWrite" value="Endpoint=sb://gst-wep-namespace.servicebus.windows.net/;SharedAccessKeyName=GstnMasterHubWrite;SharedAccessKey=Kf9bcSLFZ26jeTiHuyOB33HYc56ITnwNR3sjSOe9eiQ=;EntityPath=master-event-hub" />
    <add key="GstnRespHubConnectionWrite" value="EntityPath=NA" />
    <add key="GstnReqHubConnectionRead" value="Endpoint=NA" />
    <add key="GstnReqHubConnectionWrite" value="Endpoint=sb://gst-wep-namespace.servicebus.windows.net/;SharedAccessKeyName=GstnReqHubWrite;SharedAccessKey=KNATE+Rdi4+iwCxHWTGRsyBkkSaSP388+cYBJh6av80=;EntityPath=gstn-req-event-hub" />

    <add key="BlobStorageConnection" value="NA" />
    <add key="BlobContainer" value="NA" />

    <add key="MasterEventHub" value="master-event-hub" />
    <add key="GstnReqEventHub" value="gstn-req-event-hub" />
    <add key="GstnRespEventHub" value="NA" />
    <add key="EventHubBlobContainer" value="NA" />
    
    <!--Active Directory-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:Tenant" value="perumalbwepindia.onmicrosoft.com" />
    <add key="ida:Audience" value="https://perumalbwepindia.onmicrosoft.com/6cf77a56-3475-4d92-83c7-1d957c98e3e7" />
    <add key="ida:ClientID" value="e03001c6-59b7-4bbb-919a-778108e643b9" />
    <add key="ida:Password" value="nOViR/b/Q7L/iwQkzWIDG19DzcqbaiC82yNVFF3J9qc=" />
    <add key="ida:GrantType" value="client_credentials" />
    <add key="ida:AuthTokenTenant" value="67770149-8d98-47a8-a8f6-d6672561d26e" />

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>